@model Appointment

<div class="modal fade" id="addAppointment" aria-labelledby="addAppointmentLabel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAppointmentLabel">Добавление записи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <form asp-action="Create" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="DoctorId" class="control-label"></label>
                        <input asp-for="DoctorId" class="form-control" />
                        <span asp-validation-for="DoctorId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ClientId" class="control-label"></label>
                        <input asp-for="ClientId" class="form-control" />
                        <span asp-validation-for="ClientId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=Complaints class="control-label"></label>
                        <input asp-for="Complaints" class="form-control" />
                        <span asp-validation-for="Complaints" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for=Diagnosis class="control-label"></label>
                        <input asp-for="Diagnosis" class="form-control" />
                        <span asp-validation-for="Diagnosis" class="text-danger"></span>
                    </div>
               
                    

                    @*<div class="form-group">
                        <label asp-for=Doctor.LastName class="control-label"> Пациент</label>                        

                            <select id="MovieType" name="lastName">
                                @foreach (var item in ViewBag.LastName) {
                                string value = @item.Client.LastName.ToString();
                                <option value="@value">@value</option>
                                }
                            <</select>
                    </div>*@
                  

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



