
<h1>Главная страница</h1>

<div>
    <button><a asp-controller="Client" asp-action="Index">Пациенты</a></button>
</div>

<br />

<div>
    <button><a asp-controller="Appointment" asp-action="Index">Записаться на прием</a></button>
</div>
